/*! == VARIABLES == */

/* COLORS */
$color_brand_highlight: #FE4C42;
$color_brand_main: #29232C;

$color_green: #96E8C4;
$color_purple: #7076A0;
$color_blue: #629FD6;
$color_yellow: #ffeb6e;
$color_red: #ff7175;

$color_grey_darkest:#211B24;
$color_grey_dark:#4A4A49;
$color_grey_mid:#484848;
$color_grey_light:#565656;
$color_grey_lightest:#F7F3F2;

/* TYPOGRAPHY */
$font_primary: cormorant-garamond, serif;
$font_secondary: mr-eaves-modern, sans-serif;;
$font_size: 16;
$font_line-height: 24;

/* EFFECTS */
$fastEffect: all 0.5s ease;
$slowEffect: all 1s ease;
